<div class="text-center mt-50">
    <input class="form-control" type="file" 
            (change)="onChange($event)" multiple>
  
    <button (click)="onUpload()" 
        class="btn btn-success mt-5">
        Upload
    </button>
</div>
  
<!-- Shareable short link of  uploaded file -->
<div class="container text-center jumbotron"
    *ngIf="shortLink">
    <h2> Visit Here</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
</div>
  
<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div>