<div class="student-details-form" *ngIf="!isSubmitBtnClicked">
  <h1>Please Enter the Student Details</h1>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="student-id">Student Id: </label>
    <input id="student-id" type="number" formControlName="id" required />

    <label for="name">Student Name: </label>
    <input id="name" type="text" formControlName="name" required />

    <label for="graduation-date">Graduation Date: </label>
    <input
      id="date-of-graduation"
      type="date"
      formControlName="dateOfGraduation"
      required
    />

    <label for="cgpa">CGPA: </label>
    <input id="cgpa" type="number" formControlName="cgpa" required />

    <label for="department-name">Department Name: </label>
    <input
      id="department-name"
      type="text"
      formControlName="departmentName"
      required
    />

    <div formGroupName="address">
      <h2>Address</h2>

      <label for="street">Street: </label>
      <input id="street" type="text" formControlName="street" />

      <label for="city">City: </label>
      <input id="city" type="text" formControlName="city" />

      <label for="state">State: </label>
      <input id="state" type="text" formControlName="state" />

      <label for="zip">Zip Code: </label>
      <input id="zip" type="text" formControlName="zip" />
    </div>

    <p>Complete the form to enable button.</p>
    <div>
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!profileForm.valid"
      >
        Submit
      </button>

      <input class="btn btn-primary ml-10" type="reset" />
    </div>
  </form>
</div>

<div *ngIf="isSubmitBtnClicked">
  <app-certificate [data]="profileForm.value"></app-certificate>
</div>

<hr />

<!-- <p>Form Value: {{ profileForm.value | json }}</p>

<p>Form Status: {{ profileForm.status }}</p> -->
